# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.codex/
/.idea/
/.storybook/
/.vscode/
/아카이브.zip
/yarn.lock
/package-lock.json
/LOG.md
/yarn-error.log
/react-19.iml
/2.zip
